.btn{
    background-color: #2B2A28;
    color: white;
}
.cp{
    width: 60rem;
    background-color: rgb(235, 247, 243);

    box-shadow: 0px 4px 8px rgb(63, 61, 61);
    font-style: italic;
    content:normal;
    text-align: left;
    margin-right: 5px;
    margin-bottom: 7px;
}
.cp:hover{
    background-color: aqua;
}